@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <ul>
            <li><a asp-action="Lista" asp-controller="Sucursal">Sucursales</a ></li>
            <li><a asp-action="Lista" asp-controller="Producto">Producto</a></li>
            <li><a asp-action="Lista" asp-controller="Inventario">Inventario</a></li>
            <li></li>
        </ul>
    </div>
</div>
